*{
	color: #CEB277;
}
body{
	background-color:  #202020;
}

a{
	font-size: 18px;
    margin: 18px;
}

a:hover{
	color: #809FFF;
}

span.update-note{
	position: fixed;
	bottom: 2px;
	right: 2px;
	text-align: right;
}