:root {
	--bg-color: #eee;
	--fg-color: #202020;
	--hl-color: #809FFF;
}

body {
	background: var(--bg-color);
}

a {
	color: var(--hl-color);
}

#dex_container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.pokemon_container {
	border-radius: 25px;
	text-align: center;
	width: 30vw;
	padding-top: 10px;
}

.pokemon_container,
.sample_both {
	box-shadow: 0 2px var(--fg-color);
}

.pokemon_container.sword,
.sample_sword {
	box-shadow: 0 2px #0061a9;
}

.pokemon_container.shield,
.sample_shield {
	box-shadow: 0 2px #d5598c;
}

.link_wrapper>a>span {
	display: block;
}

.link_wrapper>a>img.small {
	width: 50px;
}

.filtered, .hidden {
	display: none;
}

#full_screen_bg_fade {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(238, 238, 238, 0.7);
	width: 100vw;
	height: 100vh;
}

#full_screen_bg_fade>div {
	position: fixed;
	left: 50%;
	top: 20%;
	transform: translate(-50%, -20%);
	padding: 20px;
	background-color: var(--bg-color);
	box-shadow: 5px 5px var(--fg-color);
	border-radius: 20px;
	max-height: calc(90vh - 10px);
	overflow-y: auto;
	color: var(--fg-color);
}

#about_content {
	text-align: center;
}

#full_screen_bg_fade,
#about_content,
#settings_content {
	display: none;
}

#settings_content label {
	user-select: none;
}

input[type="checkbox"] {
	-webkit-appearance: none;
	appearance: none;
	border: 2px solid var(--fg-color);
	width: 20px;
	height: 20px;
	outline: none;
	vertical-align: middle;
}

input[type="checkbox"]:checked {
	background: var(--fg-color);
	box-shadow: inset 0px 0px 0px 4px var(--bg-color);
}

input[type="checkbox"]:hover {
	border: 2px solid var(--hl-color);
}

input:hover+label {
	color: var(--hl-color);
}

button {
	-webkit-appearance: none;
	appearance: none;
	border: 1px solid var(--fg-color);
	background: var(--bg-color);
	color: var(--fg-color);
    padding: 2px 4px;
    margin: 4px 4px;
	box-shadow: 1px 1px var(--fg-color);
	cursor: pointer;
}

button:hover {
	background: var(--fg-color);
	color: var(--bg-color);
}

button.close_dialog {
	position: fixed;
	top: 10px;
	right: 10px;
}

input[type="range"]{
    background-color: var(--bg-color);
}

input[type="range"]::-moz-range-track{
    background-color: var(--fg-color);
}

input[type="range"]::-moz-range-thumb{
    background-color: var(--bg-color);
    border: 1px solid var(--fg-color);
}
input[type="range"]:hover::-moz-range-track{
    background-color: var(--hl-color);
}

input[type="range"]:hover::-moz-range-thumb{
    background-color: var(--bg-color);
    border: 1px solid var(--hl-color);
}

.scroll_to_pokemon{
    cursor: pointer;
}

.infobox{
	cursor: pointer;
	user-select: none;
}