@media (max-width: 750px) {
    /* Original images are 250px wide, if screen is too small to fit 3x250px adjust them accordingly */
    .link_wrapper>a>img {
        width: 30vw;
    }
    /* Normal box-shadow radius (25px) would clip into the text */
    .pokemon_container {
        border-radius: 5px;
    }
    /* Adjustments for the about screen to fit on the screen and be scrollable */
    #full_screen_bg_fade>div {
        position: fixed;
        left: 0;
        top: 10px;
        margin: 0 10px;
        width: (99vw - 20px);
        transform: translate(0, 0);
    }
}