@media (prefers-color-scheme: dark) {
    :root {
       --bg-color: #202020;
       --fg-color: #CEB277;
       --hl-color: #809FFF;
   }
   body,
   input,
   select,
   button {
       background-color: var(--bg-color);
   }
   * {
       color: var(--fg-color);
   }
   #full_screen_bg_fade {
       background-color: rgba(12, 12, 12, 0.7);
   }
}

