*{
	color: #CEB277;
}
hmtl, body{
	background-color: #202020;
	max-height: 100%;
	overflow: hidden;
}

.expandable, .control{
	font-size: 18px;
    background-color: #202020;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.control{
	width: auto;
}

.expanded, .control:hover, .expandable:hover, .roll:hover {
    background-color: #353535;
}

.list{
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

.roll{
	margin: 2px;
	font-size: 18px;
	cursor: pointer;
}

.obtained, .categoryComplete, a:hover{
	color: #809FFF;
}

#content{
	height: 70vh;
	overflow: auto;
}

a{
	font-size: 18px;
    padding: 10px;
}

hr{
	height: 1px;
	border: 0px;
	border-width: 0px;
	border-top: 1px solid #CEB277;
    margin: 1em 0;
    padding: 0; 
}

#footerContainer{
	text-align: center;
}


#footer{
	margin-top: 5px;
	bottom: 0;
	position: absolute;
	width: 99vw;
	max-height: 18vh;
	overflow: auto;
}

#sideMenu{
	flex-direction: column;
    padding: 0;
	background-color:  #202020;
	position: absolute;
	top: 0;
	left: 15px;
	list-style-type:flex;
	border-style: solid;
	border-width: 2px;
	border-color: #CEB277;
	display:none;
}

#sideMenu > li, #sideMenu > li > *{
	position: relative;
	overflow: hidden;
	padding-top: 10px;
	padding-bottom: 10px;
	white-space: nowrap;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.removePadding{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

/* Scrollbar styles, doesn't work in Firefox, IE/Edge */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #353535; 
}
::-webkit-scrollbar-thumb {
    background: #CEB277; 
}
::-webkit-scrollbar-thumb:hover {
    background: #809FFF; 
}