/* Global font */
*{
	font-family: "Lucida Console", Monaco, monospace;
}

#contentContainer{
	max-width: 1400px;
}

.itemAmount{
	width: 100%;
	text-align: center;
	font-size: 20px;
}

.shopIcon{
	max-height: 35px;
}

button{
	border: none;
	background-color: transparent;
	outline: none;
}

table{
	table-layout: auto;
	width: 100%;
	display: block;
	overflow-y: auto;
	max-height: 500px;
}

td{
	text-align: center;
}

.itemName{
	text-align: right;
}

.divButton{
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
}

span.seperator::before{
	content: "// ";
}

.fitToContent, .fitToContentIfWide{
	width: 3%;
	white-space:nowrap;
	padding: 3px 3px 0px 3px;
}

.fitToContentWide{
	width: 7%;
	white-space:nowrap;
	padding: 2px 4px 0px 0px;
}

/* Add 
	.currency::before{background: url(<url-to-image>);}
   To page to add the proper currency image*/
.currency::before{
	content: "";
	display: inline-block;
	background: url("https://azurlane.koumakan.jp/w/images/c/c4/Coinicon.png");
	background-size: 20px;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
}

.border{
	border-radius: 4px;
	border-width: 2px;
	border-style: solid;
}

#header{
	position: relative;
	max-height: 128px;
	color: white;
}

#headerimg{
	position:relative;
	top: 40px;
	height: 600px;
}

#header > div{
	position: absolute;
	top: 10px;
	right: 10px;
}
	
h1{
	text-align: right;
}

/* Rarity */
.UR{
	background-image: linear-gradient(to bottom right, #aaffaa 15%, #aaaaff, #ffaaaa 85%);
}

.SR{
	background-color: #eee8aa;
}

.E{
	background-color: #dda0dd;
}

.R{
	background-color: #b0e0e6;
}

.C{
	background-color: lightgrey;
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 8px;
}