*{
	color: #CEB277;
}
hmtl, body{
	background-color: #202020;
	max-height: 100%;
	overflow: hidden;
}

a{
	font-size: 18px;
    padding: 10px;
}

/* Scrollbar styles, doesn't work in Firefox, IE/Edge */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #353535; 
}
::-webkit-scrollbar-thumb {
    background: #CEB277; 
}
::-webkit-scrollbar-thumb:hover {
    background: #809FFF; 
}