*{
	color: #CEB277;
}
body{
	background-color:  #202020;
}

.expandable, .control{
	font-size: 18px;
    background-color: #202020;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.expanded, .control:hover, .expandable:hover, .roll:hover {
    background-color: #353535;
}

.list{
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

.roll{
	margin: 2px;
	font-size: 18px;
	cursor: pointer;
}

.obtained, .categoryComplete, a:hover{
	color: #809FFF;
}

.content, .controls{
	border-style: solid;
	border-width: 2px;
	border-color:#CEB277;
}

a{
	font-size: 18px;
    padding: 10px;
}
@media only screen and (min-width: 500px){
	.content, .controls{
		max-width: 500px;
	}
}